[submodule "models/insight_face/src"]
	path = models/insight_face/src
	url = git@github.com:TreB1eN/InsightFace_Pytorch.git
	ignore = dirty
	
[submodule "models/ghost_face/src"]
	path = models/ghost_face/src
	url = git@github.com:huawei-noah/Efficient-AI-Backbones.git
	ignore = dirty

[submodule "models/arc_face/src"]
	path = models/arc_face/src
	url = git@github.com:ronghuaiyang/arcface-pytorch.git
	ignore = dirty

[submodule "models/deep_face/src"]
	path = models/deep_face/src
	url = git@github.com:serengil/deepface.git
	ignore = dirty
